<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration status="OFF">
  <Properties>
    <property name="sorm4j_log_level">DEBUG</property>
    <property name="log_pattern">${log_pattern_loc}</property>
    <property name="log_pattern_loc">
      %d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %c.%M(%F:%L) %m%n
    </property>
    <property name="log_pattern_noloc">
      %d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %c{3.} %m%n
    </property>
  </Properties>
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="${log_pattern}" />
      <Filters>
        <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT" />
      </Filters>
    </Console>
    <Console name="stderr" target="SYSTEM_ERR">
      <PatternLayout pattern="${log_pattern}" />
      <Filters>
        <ThresholdFilter level="WARN" onMatch="ACCEPT" />
      </Filters>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.nkjmlab.sorm4j" level="${sorm4j_log_level}" additivity="false">
      <AppenderRef ref="stdout" />
      <AppenderRef ref="stderr" />
    </Logger>
  </Loggers>
</configuration>
